/* CONFIGURAÇÕES DA PÁGINA */
body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

/* CONFIGURAÇÃO GERAL DAS CAIXAS */
div{
    width:180px;
    height:90px;
    position:absolute;
    text-align:center;
    line-height:90px;
    color:white;
}

/* CANTO SUPERIOR ESQUERDO */
.esqcima{
    background-color:red;
    top:0;
    left:0;
}

/* CANTO SUPERIOR DIREITO */
.dircima{
    background-color:blue;
    top:0;
    right:0;
}

/* CANTO INFERIOR ESQUERDO */
.esqbaixo{
    background-color:green;
    bottom:0;
    left:0;
}

/* CANTO INFERIOR DIREITO */
.dirbaixo{
    background-color:yellow;
    color:black;
    bottom:0;
    right:0;
}

/* TEXTO */
p{
    margin:0;
}