/* CONFIGURAÇÕES DA PÁGINA */
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:white;
    text-align:center;
}

h1{
    margin-bottom:30px;
}

/* CONFIGURAÇÃO DAS CAIXAS */
.caixa{
    width:180px;
    height:80px;
    padding:10px;
    margin:15px;
    display:inline-block;
    text-align:center;
    line-height:80px;
    background-color:#f5f5f5;
}

/* BORDA SOLID */
.solid{
    border:3px solid black;
}

/* BORDA DASHED */
.dashed{
    border:3px dashed blue;
}

/* BORDA DOTTED */
.dotted{
    border:3px dotted red;
}

/* BORDA DOUBLE */
.double{
    border:5px double green;
}