/* CONFIGURAÇÕES DA PÁGINA */
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:white;
}

h1{
    text-align:center;
}

/* LINHAS */
.linha{
    width:900px;
    height:120px;
    margin:0 auto;
    position:relative;
}

/* CORES DAS LINHAS */
.verde{
    background-color:#0b8f3a;
}

.amarelo{
    background-color:#f7d400;
}

.azul{
    background-color:#0b2d82;
}

/* BLOCOS */
.bloco{
    width:180px;
    height:90px;
    border:2px solid white;
    border-radius:6px;
    text-align:center;
    line-height:90px;
    font-weight:bold;
    position:absolute;
}

/* POSIÇÃO DOS BLOCOS DA ESQUERDA */
.linha .bloco:first-child{
    left:80px;
    top:15px;
}

/* POSIÇÃO DOS BLOCOS DA DIREITA */
.linha .bloco:last-child{
    right:80px;
    top:15px;
}

/* CORES DOS BLOCOS */
.bloco.verde{
    background-color:#0b8f3a;
    color:white;
}

.bloco.amarelo{
    background-color:#f7d400;
    color:white;
}

.bloco.azul{
    background-color:#0b2d82;
    color:white;
}