/* CONFIGURAÇÕES DA PÁGINA */
body{
    font-family:Verdana, Geneva, sans-serif;
    background-color:white;
    margin:20px;
}

/* CAIXA DE AVISO */
.aviso{
    width:500px;
    background-color:#fff8b3;
    border:3px solid orange;
    padding:20px;
    margin-top:20px;
}

/* TÍTULO */
.aviso h2{
    margin-top:0;
    color:#cc6600;
}

/* TEXTO */
.aviso p{
    line-height:22px;
}